<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Azure Storage-->
    <add key="ABSConnectionString" value="DefaultEndpointsProtocol=https;AccountName=alebanzas;AccountKey=k6kGnt48YwLwZj07re6ONi1Uqo8LFs9h3jrkDjmq4zBO4v7OP00Qh5j/pY43r4nFoBjdtUToAisdLEQZBaydow==" />

    <!--<add key="ABSConnectionString" value="UseDevelopmentStorage=true"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetTopologySuite" publicKeyToken="f580a05016ebada1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.13.0.0" newVersion="1.13.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
