@{
    ViewBag.Title = "PASO 1 - Activar cuenta de Microsoft Dremspark con código";
}

<div style="padding: 20px; color: white;">

    <h2>PASO 1 - Activar cuenta de Microsoft Dremspark con código </h2>

    <p style='line-height:18.0pt;'>
        <span style='font-size:10.5pt;
'>
            1. Ingresar al portal <b>https://www.dreamspark.com/</b>
            como se muestra en la siguiente imagen:
        </span>
    </p>

    <p style='line-height:18.0pt;'>
        <a href="http://blog.alebanzas.com.ar/wp-content/uploads/2015/09/clip_image002.png">
            <span style='font-size:10.5pt;font-family:"Arial",sans-serif'>
                <img border=0
                     style="width: 100%" id="Picture 17"
                     src="/Content/Pasos/image001.png"
                     alt="clip_image002">
            </span>
        </a>
    </p>

    <p style='line-height:18.0pt;'>
        <span style='font-size:10.5pt;
'>
            2. Ingresar al enlace <b>“estudiantes”</b>
            que se muestra a continuación
        </span>
    </p>

    <p style='line-height:18.0pt;'>
        <a href="http://blog.alebanzas.com.ar/wp-content/uploads/2015/09/clip_image004.jpg">
            <span style='font-size:10.5pt;font-family:"Arial",sans-serif'>
                <img border=0
                     style="width: 100%" id="Picture 16"
                     src="/Content/Pasos/image002.jpg"
                     alt="clip_image004">
            </span>
        </a>
    </p>

    <p style='line-height:18.0pt;'>
        <span style='font-size:10.5pt;
'>
            3. Ingresar al enlace que dice <b>
                “iniciar
                sesión”
            </b> para ingresar el usuario y contraseña de un correo tipo Microsoft
            tipo <b>@@outlook.com o @@hotmail.com o @@live.com.ar</b>
        </span>
    </p>

    <p style='line-height:18.0pt;'>
        <a href="http://blog.alebanzas.com.ar/wp-content/uploads/2015/09/clip_image006.jpg">
            <span style='font-size:10.5pt;font-family:"Arial",sans-serif'>
                <img border=0
                     style="width: 100%" id="Picture 15"
                     src="/Content/Pasos/image003.jpg"
                     alt="clip_image006">
            </span>
        </a>
    </p>

    <p style='line-height:18.0pt;'>
        <span style='font-size:10.5pt;
'>
            4. Ingresar o verificar tus datos
            personales en el formulario, asegurar que seleccionen el país <b>Argentina</b>,
            y hacer click en<b> “continuar para comprobar”</b>
        </span>
    </p>

    <p style='line-height:18.0pt;'>
        <a href="http://blog.alebanzas.com.ar/wp-content/uploads/2015/09/clip_image0081.jpg">
            <span style='font-size:10.5pt;font-family:"Arial",sans-serif'>
                <img border=0
                     style="width: 100%" id="Picture 14"
                     src="/Content/Pasos/image004.jpg"
                     alt="clip_image008">
            </span>
        </a>
    </p>
    
    <p style='line-height:18.0pt;'>
        <span style='font-size:10.5pt;
'>
            5. Seleccionar la Opción que dice<b>
                :
                “Recibí Código de Comprobación”
            </b> e ingresar el código que recibiste.
        </span>
    </p>

    <p style='line-height:18.0pt;'>
        <span style='font-size:10.5pt;
'>
            ¿No tenés un código? Obtenelo acá:
            <a href="http://navidad2015.azurewebsites.net/codigo">http://navidad2015.azurewebsites.net/codigo</a>
        </span>
    </p>

    <p style='line-height:18.0pt;'>
        <a href="http://blog.alebanzas.com.ar/wp-content/uploads/2015/09/clip_image014.jpg">
            <span style='font-size:10.5pt;font-family:"Arial",sans-serif'>
                <img border=0
                     style="width: 100%" id="Picture 11"
                     src="/Content/Pasos/image006.jpg"
                     alt="clip_image014">
            </span>
        </a>
    </p>

    <p style='line-height:18.0pt;'>
        <span style='font-size:10.5pt;
'>
            7. Validaste tu cuenta de
            Microsoft Dreamspark presionar <b>Continuar</b>
        </span>
    </p>

    <p style='line-height:18.0pt;'>
        <a href="http://blog.alebanzas.com.ar/wp-content/uploads/2015/09/clip_image016.jpg">
            <span style='font-size:10.5pt;font-family:"Arial",sans-serif'>
                <img border=0
                     style="width: 100%" id="Picture 10"
                     src="/Content/Pasos/image007.jpg"
                     alt="clip_image016">
            </span>
        </a>
    </p>

    <p style='line-height:18.0pt;'>
        <span style='font-size:10.5pt;
'>8. Felicidades, dar click en “<b>Continuar</b>”</span>
    </p>

    <p style='line-height:18.0pt;'>
        <a href="http://blog.alebanzas.com.ar/wp-content/uploads/2015/09/clip_image018.jpg">
            <span style='font-size:10.5pt;font-family:"Arial",sans-serif'>
                <img border=0
                     style="width: 100%" id="Picture 9"
                     src="/Content/Pasos/image008.jpg"
                     alt="clip_image018">
            </span>
        </a>
    </p>

    <h2>Activar servicio de Microsoft Azure</h2>

    <p style='line-height:18.0pt;'>
        <span style='font-size:10.5pt;
'>
            Debes estar en logueado con tu
            cuenta en la sección de Estudiantes, en el portal de <a href="https://www.dreamspark.com/" target="_blank" class="btn btn-default">Dreamspark</a>
        </span>
    </p>

    <p style='margin-left:36.0pt;text-indent:-18.0pt;line-height:18.0pt;'>
        <span style='font-size:10.5pt;'>
            1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>
        </span><span style='font-size:10.5pt;'>
            Seleccionar
            la opción “<b>Catálogo de Software</b>” y seleccionar el Icono que dice <b>
                Microsoft
                Azure
            </b> en el segundo renglón de iconos.
        </span>
    </p>

    <p style='margin-left:36.0pt;line-height:18.0pt;'>
        <span style='font-size:10.5pt;'>
            O hacer
            click en: <a href="https://www.dreamspark.com/Product/Product.aspx?productid=99" target="_blank" class="btn btn-default">Azure</a>
        </span>
    </p>

    <p style='line-height:18.0pt;'>
        <a href="http://blog.alebanzas.com.ar/wp-content/uploads/2015/09/clip_image020.jpg">
            <span style='font-size:10.5pt;font-family:"Arial",sans-serif'>
                <img border=0
                     style="width: 100%"
                     id="Picture 8"
                     src="/Content/Pasos/image009.jpg"
                     alt="clip_image020">

                <img border=0
                     style="width: 100%"
                     id="Picture 7"
                     src="/Content/Pasos/image010.jpg"
                     alt="clip_image022">
            </span>
        </a>
    </p>

    <p style='line-height:18.0pt;'>
        <span style='font-size:10.5pt;
'>
            2. Se muestra la descripción de
            Microsoft Azure, presionar el botón que dice “<b>Registrarse Ahora</b>”
        </span>
    </p>

    <p style='line-height:18.0pt;'>
        <a href="http://blog.alebanzas.com.ar/wp-content/uploads/2015/09/clip_image024.jpg">
            <span style='font-size:10.5pt;font-family:"Arial",sans-serif'>
                <img border=0
                     style="width: 100%" id="Picture 6"
                     src="/Content/Pasos/image011.jpg"
                     alt="clip_image024">
            </span>
        </a>
    </p>

    <p style='line-height:18.0pt;'>
        <span style='font-size:10.5pt;
'>
            3. Ingresar <b>Numero de celular</b>
            de preferencia para <b>recibir el código de activación</b> mediante un mensaje
            de texto en tu celular.
        </span>
    </p>

    <p style='line-height:18.0pt;'>
        <a href="http://blog.alebanzas.com.ar/wp-content/uploads/2015/09/clip_image026.png">
            <span style='font-size:10.5pt;font-family:"Arial",sans-serif'>
                <img border=0
                     style="width: 100%" id="Picture 5"
                     src="/Content/Pasos/image012.png"
                     alt="clip_image026">
            </span>
        </a>
    </p>

    <p style='line-height:18.0pt;'>
        <span style='font-size:10.5pt;
'>
            4. Ingresar <b>
                código de
                activación recibido
            </b> en tu número de celular.
        </span>
    </p>

    <p style='line-height:18.0pt;'>
        <a href="http://blog.alebanzas.com.ar/wp-content/uploads/2015/09/clip_image028.png">
            <span style='font-size:10.5pt;font-family:"Arial",sans-serif'>
                <img border=0
                     style="width: 100%" id="Picture 4"
                     src="/Content/Pasos/image013.png"
                     alt="clip_image028">
            </span>
        </a>
    </p>

    <p style='line-height:18.0pt;'>
        <span style='font-size:10.5pt;
'>
            5. Seleccionar que está de
            acuerdo con los términos y presionar el botón de <b>Suscribirse</b>
        </span>
    </p>

    <p style='line-height:18.0pt;'>
        <a href="http://blog.alebanzas.com.ar/wp-content/uploads/2015/09/clip_image030.png">
            <span style='font-size:10.5pt;font-family:"Arial",sans-serif'>
                <img border=0
                     style="width: 100%" id="Picture 3"
                     src="/Content/Pasos/image014.png"
                     alt="clip_image030">
            </span>
        </a>
    </p>

    <p style='line-height:18.0pt;'>
        <span style='font-size:10.5pt;
'>
            6. Esperar configuración de
            Microsoft Azure. (puede demorar unos minutos)
        </span>
    </p>

    <p style='line-height:18.0pt;'>
        <a href="http://blog.alebanzas.com.ar/wp-content/uploads/2015/09/clip_image032.jpg">
            <span style='font-size:10.5pt;font-family:"Arial",sans-serif'>
                <img border=0
                     style="width: 100%" id="Picture 2"
                     src="/Content/Pasos/image015.jpg"
                     alt="clip_image032">
            </span>
        </a>
    </p>

    <p style='line-height:18.0pt;'>
        <span lang=EN-US
              style='font-size:10.5pt;'>
            7.
            Felicidades Microsoft Azure configurado
        </span>
    </p>

    <p style='line-height:18.0pt;'>
        <a href="http://blog.alebanzas.com.ar/wp-content/uploads/2015/09/clip_image034.jpg">
            <span style='font-size:10.5pt;font-family:"Arial",sans-serif'>
                <img border=0
                     style="width: 100%" id="Picture 1"
                     src="/Content/Pasos/image016.jpg"
                     alt="clip_image034">
            </span>
        </a>
    </p>

    <p style='line-height:18.0pt;'>
        <span style='font-size:10.5pt;
'>
            8. ahora podes usarlo entrando en
        </span><span lang=EN-US style='font-size:10.5pt;font-family:"Arial",sans-serif;
color:#555555'><a href="http://portal.azure.com" target="_blank" class="btn btn-default">Azure</a></span>
    </p>

    <div style="padding: 20px; font-size: 20px;">
        <p>Para participar del concurso, segui en el
        <a href="/sitioweb" class="btn btn-success">paso 2</a>
        </p>
    </div>
</div>