@model ABServicios.Azure.Storage.DataAccess.TableStorage.Queries.VotacionModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Resultados";  
}

<div class="hero-unit" style="z-index: 999;">
    <h1>Resultados</h1>
    <p class="lead">Encuentra los resultados parciales de la votación.</p>
    
    <img src="/img/tc.png" style="position: fixed; top: 26%; height: 75%; left: -5%; display: none;" />
    <img src="/img/tc.png" style="position: fixed; top: 26%; height: 75%; right: -5%; display: none;" />
    
    <table class="resultados" style="width: 100%; max-width: 600px;">
        @{
            float max = Model.Lista.FirstOrDefault() != null ? Model.Lista.FirstOrDefault().Visitas : 0;
            for (int index = 1; index <= Model.Lista.Count; index++)
            {
                var item = Model.Lista[index-1];
                <tr>
                    <td>#@index</td>
                    <td><a href="http://@item.Nombre" style="color: white;">@item.Nombre</a></td>
                    <td>@(item.Visitas)</td>
                    <td><progress style="margin-left: 30px; width: @(Math.Round(3*(item.Visitas/(max/100))))%; height: 60%;background-color: blue;" /></td>
                </tr>
            }
        }    
    </table>
    <p style="font-size:10px; display: none;">
        <br />
        Este resultado es parcial, el sistema cierra la votacion a las 0hs del 00/00/2014. Cuando el resultado sea final, publicaremos por este medio los ganadores finales.
        <br />
        El resultado esta auditado por accesos duplicados desde una misma IP el mismo dia.
    </p>
</div>

<style>
    body {
        background: url('/img/bg-h.jpg') no-repeat no-repeat;
        background-color: rgb(92, 173, 203);
    }

     .resultados tr:first-child {
         font-size: 30px;
     }
    .resultados {
        margin-left: 100px;
    }
    .resultados tr:nth-child(2) {
        font-size: 25px;
    }
    .resultados tr:nth-child(4) {
        font-size: 20px;
    }
</style>