@{
    ViewBag.Title = "Bases y condiciones";
}

<h2>Bases y condiciones</h2>


<p class=MsoNormal align=center style='margin-top:0cm;margin-right:.45pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
text-indent:0cm;line-height:115%'>
    <b>
        <u>
            <span style='line-height:115%;
color:windowtext'>Concurso:</span>
        </u>
    </b><b>
        <span style='line-height:115%;
color:windowtext'>“Competencia de Desarrollo en la Nube MSPs”</span>
    </b>
</p>

<p class=MsoNormal align=center style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:2.5pt;margin-bottom:.0001pt;text-align:center;
text-indent:0cm;line-height:115%'><b><span style='line-height:115%;color:windowtext'> </span></b></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:21.3pt;margin-bottom:.0001pt;text-indent:-21.3pt;line-height:115%'>
    <b>
        <span style='line-height:115%'>
            1.<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </b><b>
        <span style='line-height:115%;color:windowtext'>
            Organizador:
        </span>
    </b><span style='line-height:115%;color:windowtext'>
        Este concurso
        denominado “Competencia de Desarrollo en la Nube MSPs” (el “<u>Concurso</u>”) es
        organizado por Microsoft de Argentina S.A. y Microsoft Uruguay S.A. (conjuntamente,
        el “<u>Organizador</u>”), y se regirá por las presentes bases y condiciones
        (las “<u>Bases y Condiciones</u>”). El Concurso consistirá en premiar a
        aquellos participantes que logren la mayor cantidad de Sitios Web identificados
        con la imagen/código correspondiente a ellos una vez finalizado el Plazo de
        Vigencia  – tal como se definen y explica más abajo –.
    </span>
</p>

<p class=MsoNormal style='margin-top:0cm;margin-right:.15pt;margin-bottom:0cm;
margin-left:21.3pt;margin-bottom:.0001pt;text-indent:-21.3pt;line-height:115%'>
    <span lang=ES style='line-height:115%;color:windowtext'>&nbsp;</span>
</p>

<p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-21.3pt;line-height:115%'>
    <b>
        <span lang=ES
              style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:black'>
            2.<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </b><b>
        <span lang=ES style='font-size:10.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Vigencia</span>
    </b><span lang=ES
              style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif'>
        . El
        Concurso se desarrollará en la República Argentina y en la Repùblica Oriental
        del Uruguay (el “<u>Territorio</u>”) entre las 00:00hs. del 22 de Octubre de 2015
        y las 23:59hs. del 22 de Diciembre de 2015 inclusive (el “<u>Plazo de Vigencia</u>”).
    </span>
</p>

<p class=MsoNormal align=left style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:left;
text-indent:-21.3pt;line-height:115%'>
    <span lang=ES style='line-height:115%;
color:windowtext'></span>
</p>

<p class=MsoListParagraphCxSpFirst style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;text-indent:-21.3pt;line-height:115%'>
    <b>
        <span lang=ES style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:black'>
            3.<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </b><b>
        <span style='font-size:10.0pt;line-height:115%;font-family:
"Arial",sans-serif'>Participantes</span>
    </b><b>
        <span lang=ES style='font-size:
10.0pt;line-height:115%;font-family:"Arial",sans-serif'>.</span>
    </b><span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif'>
        Podrán participar del Concurso aquellas personas físicas mayores de edad,
        residentes en el Territorio y que revisan la calidad de “Microsoft Student
        Partners” (MSP) al inicio y durante todo el Plazo de Vigencia (los “<u>Participantes</u>”).
        Se encuentran excluidos del presente Concurso cualquier persona física que
        desempeñe cargos en cualquier autoridad gubernamental – sea nacional,
        provincial, municipal y/o descentralizada –. Los Participantes que participen
        en este Concurso no serán elegibles para participar en ninguna otra iniciativa
        organizada por el Organizador y referida al Servicio Azure en forma simultánea
        a su participación en este Concurso.
    </span>
</p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:115%'>
    <span style='font-size:10.0pt;
line-height:115%;font-family:"Arial",sans-serif'>&nbsp;</span>
</p>

<p class=MsoListParagraphCxSpLast style='margin-left:18.0pt;text-indent:0cm'>
    <b>
        <span lang=ES style='font-size:10.0pt;line-height:107%;font-family:"Arial",sans-serif;
color:black'>
            4.<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </b><b><span style='line-height:107%'>Participación:</span></b><span style='line-height:107%'>
        Para participar en el Concurso cada Participante
        deberá
    </span><span lang=ES style='line-height:107%'>
        referir participantes al
        concurso “Competencia de Desarrollo en la Nube” cuyas Bases se encuentran
        disponibles en:
    </span><span lang=ES style='font-size:10.0pt;line-height:107%;
font-family:"Arial",sans-serif'>http://navidad2015.azurewebsites.net/bases/</span><span lang=ES style='line-height:107%'>
        a efectos de incentivar el desarrollo de
        sitios web utilizando el servicio de Microsoft Azure llamado “Servicios en la
        Nube (o Web App, en inglés)” que permite crear aplicaciones y servicios de alta
        disponibilidad y escalabilidad (el “<u>Sitio Web</u>” y el “<u>Servicio Azure</u>”).
    </span>
</p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:21.3pt;margin-bottom:.0001pt;text-indent:0cm;line-height:115%'>
    <b>
        <span style='line-height:115%;color:windowtext'>&nbsp;</span>
    </b>
</p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:21.3pt;margin-bottom:.0001pt;text-indent:0cm;line-height:115%'>
    <span lang=ES style='line-height:115%;color:windowtext'>
        Dichos Sitios Web deberán ser
        configurados y modificados por aquellos que participen en el concurso
        “Competencia de Desarrollo en la Nube” a efectos de incluir una imagen/código
        determinada y provista por el Organizador en
    </span><span lang=EN-US>
        <a href="http://api.alebanzas.com.ar/azurelog?r=nombre">
            <span lang=ES
                  style='line-height:115%;color:windowtext'>http://api.alebanzas.com.ar/azurelog?r=nombre</span>
        </a>
    </span><span class=MsoHyperlink>
        <span lang=ES style='line-height:115%;color:windowtext;
text-decoration:none'>
            que variará en su sección final de acuerdo al
            Participante que haya referido al tercero desarrollador del Sitio Web
        </span>
    </span><span lang=ES style='line-height:115%;color:windowtext'></span><span lang=ES
                                                                                style='line-height:115%;color:windowtext'>
        (el “<u>Blog</u>”). La imagen/código
        referido tendrá como función registrar e individualizar la cantidad de
        visitas/accesos al Sitio Web (las “<u>Visitas</u>”) y sus correspondientes
        direcciones de IP, así como el Participante que ha referido al tercero
        desarrollador de tal Sitio Web. A efectos de ser computados por el Organizador,
        los Sitios Web deberán ser publicados a fin de que sean
    </span><span style='line-height:115%;color:windowtext'>
        aptos para recibir Visitas al menos
        durante 10 (diez) días durante el Plazo de Vigencia.
    </span>
</p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:21.3pt;margin-bottom:.0001pt;text-indent:0cm;line-height:115%'>
    <span style='line-height:115%;color:windowtext'>&nbsp;</span>
</p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:21.3pt;margin-bottom:.0001pt;text-indent:-21.3pt;line-height:115%'>
    <b>
        <span lang=EN-US style='line-height:115%'>
            5.<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </b><b>
        <span lang=EN-US style='line-height:115%;color:windowtext'>
            Ganadores: 
        </span>
    </b>
</p>

<p class=MsoNormal align=left style='margin:0cm;margin-bottom:.0001pt;
text-align:left;text-indent:0cm;line-height:115%'>
    <b>
        <span lang=EN-US
              style='line-height:115%;color:windowtext'></span>
    </b>
</p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:42.55pt;margin-bottom:.0001pt;text-indent:-21.25pt;line-height:
115%'>
    <span style='line-height:115%'>
        (a)<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><span style='line-height:115%;color:windowtext'>
        Serán
        considerados Potenciales Ganadores los 10 (diez) Participantes del Concurso que
        cuenten con la mayor cantidad de Sitios Web identificados con la imagen/código
        correspondiente a ellos una vez finalizado el Plazo de Vigencia. A efectos del
        referido cálculo, se estará a los registros del Organizador. Su decisión será
        inapelable. En caso de empate, resultarán Potenciales Ganadores aquellos
        Participantes cuyos Sitios Web referidos hayan obtenido la mayor cantidad de
        Visitas durante el Plazo de Vigencia en conjunto.
    </span>
</p>

<p class=MsoNormal align=left style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:42.55pt;margin-bottom:.0001pt;text-align:left;
text-indent:-21.25pt;line-height:115%'>
    <span style='line-height:115%;
color:windowtext'></span>
</p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:42.55pt;margin-bottom:.0001pt;text-indent:-21.25pt;line-height:
115%'>
    <span style='line-height:115%'>
        (b)<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><span style='line-height:115%;color:windowtext'>
        Los Potenciales Ganadores
        serán informados de su calidad de tales por el Organizador a través de un
        correo electrónico que se les enviará dentro de los 10 (diez) días de
        finalizado el Plazo de Vigencia a la dirección de correo electrónico desde la
        cual reportaron su Sitio Web al Organizador.
    </span>
</p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:36.0pt;margin-bottom:.0001pt;text-indent:0cm;line-height:115%'>
    <span style='line-height:115%;color:windowtext'></span>
</p>

<p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;line-height:115%'>
    <b>
        <span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:black'>
            6.<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </b><b>
        <span style='font-size:10.0pt;line-height:115%;font-family:
"Arial",sans-serif'>Premios:</span>
    </b><span style='font-size:10.0pt;
line-height:115%;font-family:"Arial",sans-serif'>
        Los Potenciales Ganadores
        podrán acceder cada uno a 1 (un) Raspberry Pi (el “<u>Premio</u>”). Los Premios
        serán entregados por el Organizador en fecha 30 de Enero de 2016 en las
        oficinas de Microsoft de Argentina S.A. (Bouchard 710, 4to piso, Ciudad
        Autónoma de Buenos Aires, República Argentina). En oportunidad de la entrega,
        el Potencial Ganador deberá acreditar su identidad y suscribir el correspondiente
        recibo como condición esencial para la entrega del Premio, convirtiéndose en Ganador
    </span><span lang=ES style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif'>
        ;
        caso contrario no podrá recibir bajo ninguna circunstancia el Premio
    </span><span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif'>
        . Los
        gastos de entrega del Premio correrán por exclusiva cuenta del Ganador.
    </span>
</p>

<p class=MsoNormal style='margin:0cm;margin-bottom:.0001pt;text-indent:0cm;
line-height:115%'><span style='line-height:115%;color:windowtext'> </span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:21.3pt;margin-bottom:.0001pt;text-indent:-21.3pt;line-height:115%'>
    <b>
        <span style='line-height:115%'>
            7.<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </b><b>
        <span style='line-height:115%;color:windowtext'>
            Canje.
            Impuestos y Gastos.
        </span>
    </b><span style='line-height:115%;color:windowtext'>
        Los Premios no podrán ser canjeados por dinero u otros bienes o servicios
        distintos de los indicados. Asimismo, el derecho a la asignación de los mismos
        es intransferible. El Organizador no dará a los Participantes y/o Ganadores
        ningún otro pago, prestación, bien o servicio distinto a los detallados en las
        presentes Bases y Condiciones. Todos los gastos en que incurran estos con
        relación al Concurso y a los Premios (incluyendo su retiro y traslado) serán
        por su exclusiva cuenta. Todos los impuestos que deban tributarse en relación
        con el Premio y los gastos en que deba incurrirse para percibir el mismo
        estarán a cargo del Ganador.
    </span>
</p>

<p class=MsoNormal style='margin-top:0cm;margin-right:.15pt;margin-bottom:0cm;
margin-left:21.3pt;margin-bottom:.0001pt;text-indent:-21.3pt;line-height:115%'>
    <span style='line-height:115%;color:windowtext'>&nbsp;</span>
</p>

<p class=MsoListParagraphCxSpFirst style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;text-indent:-21.3pt;line-height:115%'>
    <b>
        <span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:black'>
            8.<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </b><b>
        <span style='font-size:10.0pt;line-height:115%;font-family:
"Arial",sans-serif'>Garantía de los Premios.</span>
    </b><span style='font-size:
10.0pt;line-height:115%;font-family:"Arial",sans-serif'></span><span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif'>
        El
        Organizador no será responsable: (i) por ningún daño o perjuicio, de cualquier
        tipo que fuere, que pudieren sufrir los Participantes o los Ganadores, en sus
        personas o bienes, con motivo de o con relación a su participación en el Concurso
        o con relación a la utilización de los Premios; (ii) por fallas en la red
        telefónica, en la red Internet, en los equipos de computación, ni por
        desperfectos técnicos, errores humanos o acciones deliberadas de terceros que
        pudieran interrumpir o alterar el normal desarrollo del Concurso – incluido
        pero no limitado al Sitio Web y al Servicio Azure –; y (iii) no otorgan
        garantía alguna con relación a los Premios, debiendo dirigirse cualquier tipo
        de reclamo a los fabricantes, proveedores o importadores del mismo.
    </span>
</p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-indent:-21.3pt;
line-height:115%'>
    <b>
        <span style='font-size:10.0pt;line-height:115%;font-family:
"Arial",sans-serif'>&nbsp;</span>
    </b>
</p>

<p class=MsoListParagraphCxSpLast style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;text-indent:-21.3pt;line-height:115%'>
    <b>
        <span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:black'>
            9.<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </b><b>
        <span style='font-size:10.0pt;line-height:115%;font-family:
"Arial",sans-serif'>
            Uso de Imagen. Propiedad Intelectual. Protección de Datos
            Personales.
        </span>
    </b><span style='font-size:10.0pt;line-height:115%;
font-family:"Arial",sans-serif'></span><span style='font-size:10.0pt;
line-height:115%;font-family:"Arial",sans-serif'>
        Los Participantes autorizan
        irrevocablemente al Organizador, sus afiliadas y subsidiarias, en los términos
        requeridos por el art. 5 de la Ley Nº 25.326 (República Argentina) y por el
    </span><span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif'>
        art.
        9 de la Ley 18.331 (Uruguay)
    </span><span style='font-size:10.0pt;line-height:
115%;font-family:"Arial",sans-serif'>
        y como condición para la participación
        del Concurso, a difundir sus datos personales, domicilio, imágenes y voces (los
        “<u>Datos</u>”), con fines publicitarios, por cualquier medio de difusión y
        forma que el Organizador disponga, sin derecho a compensación alguno, durante
        el Plazo de Vigencia del Programa y hasta los 12 (doce) meses de su
        finalización, como así también para que el Organizador remita a los
        Participantes y a los Ganadores publicaciones y/o se les formulen ofertas publicitarias
        de bienes y/o servicios. Asimismo, los Participantes y los Ganadores reconocen
        y aceptan que el Organizador, su casa matriz, filiales y empresas relacionadas
        podrán efectuar el tratamiento de los datos personales proporcionados por los
        Participantes y Ganadores en virtud de su participación en el presente Concurso,
        en registros o bancos de datos propios. Los Participantes y Ganadores exoneran
        de responsabilidad al Organizador por el uso indebido por parte de terceros de
        los Datos. El Organizador no comercializará o cederá los Datos sin autorización
        expresa de los Participantes y los Ganadores, conforme lo exige la normativa
        aplicable. Los Participantes irrevocablemente otorgan una licencia perpetua y
        gratuita de uso de los Sitios Web a favor del Organizador. La cesión indicada
        es condición esencial para que los Participantes puedan participar del presente
        Concurso.
    </span>
</p>

<p class=MsoNormal style='margin-top:0cm;margin-right:.15pt;margin-bottom:0cm;
margin-left:21.3pt;margin-bottom:.0001pt;text-indent:-21.3pt;line-height:115%'>
    <span style='line-height:115%;color:windowtext'>&nbsp;</span>
</p>

<p class=MsoListParagraphCxSpFirst style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;text-indent:-21.3pt;line-height:115%'>
    <b>
        <span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:black'>10.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span>
    </b><b>
        <span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif'>
            Derecho
            de acceso a los Datos Personales.
        </span>
    </b><span style='font-size:10.0pt;
line-height:115%;font-family:"Arial",sans-serif'></span><span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif'>
        El
        titular de los datos personales tiene la facultad de ejercer el derecho de
        acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses,
        salvo que se acredite un interés legítimo al efecto conforme lo establecido en
        el artículo 14, inciso 3 de la Ley Nº 25.326 (República Argentina) o en el
    </span><span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif'>
        artículo
        14, inciso 1 de la Ley Nº 18.331 (en Uruguay)
    </span><span style='font-size:
10.0pt;line-height:115%;font-family:"Arial",sans-serif'>
        . En la República
        Argentina, La DIRECCIÓN NACIONAL DE PROTECCIÓN DE DATOS PERSONALES, Órgano de
        Control de la Ley Nº 25.326, y en Uruguay,
    </span><span style='font-size:10.0pt;
line-height:115%;font-family:"Arial",sans-serif'>
        la Unidad Reguladora y de
        Control de Protección de Datos Personales, Órgano de Control de la Ley Nº
        18.331,
    </span><span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif'>
        tienen  la atribución de atender las denuncias y reclamos que se interpongan
        con relación al incumplimiento de las normas sobre protección de datos
        personales.
    </span>
</p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;text-indent:-21.3pt;line-height:115%'>
    <b>
        <span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif'>&nbsp;</span>
    </b>
</p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:115%'>
    <span style='font-size:10.0pt;
line-height:115%;font-family:"Arial",sans-serif'>
        El titular podrá en cualquier
        momento solicitar el retiro o bloqueo de su nombre de los bancos de datos a los
        que se refiere el presente artículo (art. 21 Ley 18.331 en Uruguay o art. 27
        Ley 25.326 en Argentina). En toda comunicación con fines de publicidad que se
        realice por correo, teléfono, correo electrónico, Internet u otro medio a
        distancia a conocer, se deberá indicar, en forma expresa y destacada, la
        posibilidad del titular del dato de solicitar el retiro o bloqueo, total o
        parcial, de su nombre de la base de datos. A pedido del titular de los datos,
        se deberá informar el nombre del responsable o usuario del banco de datos que
        proveyó la información.
    </span>
</p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-indent:-21.3pt;
line-height:115%'>
    <b>
        <span style='font-size:10.0pt;line-height:115%;font-family:
"Arial",sans-serif'>&nbsp;</span>
    </b>
</p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;text-indent:-21.3pt;line-height:115%'>
    <b>
        <span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:black'>11.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span>
    </b><b>
        <span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif'>
            Funcionamiento
            de Microsoft Azure.
        </span>
    </b><span style='font-size:10.0pt;line-height:115%;
font-family:"Arial",sans-serif'></span><span style='font-size:10.0pt;
line-height:115%;font-family:"Arial",sans-serif'>
        El Organizador no será
        responsable por fallas en la red Internet, en los equipos de computación, ni
        por desperfectos técnicos, errores humanos o acciones deliberadas de terceros
        que pudieran interrumpir o alterar el normal desarrollo del Concurso.
    </span>
</p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-indent:-21.3pt;
line-height:115%'>
    <b>
        <span style='font-size:10.0pt;line-height:115%;font-family:
"Arial",sans-serif'>&nbsp;</span>
    </b>
</p>

<p class=MsoListParagraphCxSpLast style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;text-indent:-21.3pt;line-height:115%'>
    <b>
        <span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:black'>12.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span>
    </b><b>
        <span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif'>
            Aceptación
            de las Bases y Condiciones.
        </span>
    </b><span style='font-size:10.0pt;line-height:
115%;font-family:"Arial",sans-serif'></span><span style='font-size:10.0pt;
line-height:115%;font-family:"Arial",sans-serif'>
        La participación en este
        Concurso implica el conocimiento y aceptación de estas Bases y Condiciones, así
        como de las decisiones que adopte el Organizador sobre cualquier cuestión no
        prevista en las mismas o sobre cualquier otra cuestión.
    </span>
</p>

<p class=MsoNormal style='margin-top:0cm;margin-right:.15pt;margin-bottom:0cm;
margin-left:0cm;margin-bottom:.0001pt;text-indent:0cm;line-height:115%'>
    <span style='line-height:115%;color:windowtext'>&nbsp;</span>
</p>

<p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:21.25pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-21.25pt;line-height:115%'>
    <b>
        <span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:black'>13.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span>
    </b><b>
        <span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif'>
            Jurisdicción.
        </span>
    </b><span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif'>
        Para
        cualquier cuestión judicial que pudiera derivarse de la realización del
        Concurso, los Participantes y el Organizador se someterán a la jurisdicción de
        los Tribunales Ordinarios de la Ciudad Autónoma de Buenos Aires o de los
        Tribunales Ordinarios de Montevideo.
    </span>
</p>

<p class=MsoNormal style='margin-top:0cm;margin-right:.15pt;margin-bottom:0cm;
margin-left:0cm;margin-bottom:.0001pt;text-indent:0cm;line-height:115%'>
    <span lang=ES style='line-height:115%;color:windowtext'>&nbsp;</span>
</p>

<p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-21.3pt;line-height:115%'>
    <b>
        <span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:black'>14.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span>
    </b><b>
        <span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif'>
            Circunstancias
            especiales.
        </span>
    </b><span style='font-size:10.0pt;line-height:115%;
font-family:"Arial",sans-serif'>
        Cuando circunstancias imprevistas que
        constituyan caso fortuito, fuerza mayor o similar que lo justifiquen, el
        Organizador podrá suspender, cancelar o modificar, total o parcialmente el
        Concurso.
    </span>
</p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:21.3pt;margin-bottom:.0001pt;text-indent:-21.3pt;line-height:115%'>
    <span style='line-height:115%;color:windowtext'>&nbsp;</span>
</p>

<p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-indent:-21.3pt;line-height:
115%'>
    <b>
        <span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:black'>15.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span>
    </b><b>
        <span style='font-size:10.0pt;line-height:115%;font-family:"Arial",sans-serif'>
            Publicación
            de las Bases.
        </span>
    </b><span style='font-size:10.0pt;line-height:115%;
font-family:"Arial",sans-serif'>
        Las presentes Bases podrán ser consultadas
        exclusivamente en el siguiente sitio web: http://navidad2015.azurewebsites.net/basesmsp/
    </span>
</p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:18.0pt;margin-bottom:.0001pt;text-indent:0cm;line-height:115%'>
    <span style='line-height:115%;color:black'>&nbsp;</span>
</p>

<p class=MsoNormal align=left style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:-.25pt;margin-bottom:.0001pt;text-align:left;
line-height:115%'>
    <span style='line-height:115%;color:black'>
        Buenos Aires, 22 de
        octubre de 2015.
    </span>
</p>

<p class=MsoNormal align=left style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:-.25pt;margin-bottom:.0001pt;text-align:left;
line-height:115%'>
    <span style='line-height:115%;color:black'>
        Montevideo, 22 de noviembre
        de 2015.
    </span>
</p>

<p class=MsoNormal align=left style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:-.25pt;margin-bottom:.0001pt;text-align:left;
line-height:115%'><span style='line-height:115%;color:black'>&nbsp;</span></p>

<p class=MsoNormal align=left style='margin-top:0cm;margin-right:0cm;
margin-bottom:13.25pt;margin-left:-.25pt;text-align:left;line-height:107%'>
    <span style='line-height:107%'>&nbsp;</span>
</p>
