@model dynamic

@{
    ViewBag.Title = "PASO 2 - Creá tu sitio web";
}

<div style="padding: 20px; color: white;">

    <h2>PASO 2 - Creá tu sitio web </h2>

<p>podes subir un sitio desarrollado por vos, o seguir los pasos de abajo para crear un Wordpress.</p>
    <p>
        Si ya sabes subir tu sitio, seguí en el
        <a href="/imagen" class="btn btn-success">paso 3</a>
    </p>





    <p class=MsoNormal style='margin-top:19.2pt;margin-right:0cm;margin-bottom:
19.2pt;margin-left:0cm;line-height:normal'>
        <span style='font-size:13.0pt;
font-family:"Arial",sans-serif'>
            1.- Bueno, nos logueamos en <b>Azure</b>
            y desde ahi nos vamos a <b>Nueva</b>, luego a <b>Web y móvil</b> y por último a
            <b>Marketplace</b> <br>
            <img style="width: 100%;" id="Picture 14" src="/content/sitioweb/image001.png"
                 alt="Paso 1">
        </span>
    </p>

    <p class=MsoNormal style='margin-top:19.2pt;margin-right:0cm;margin-bottom:
19.2pt;margin-left:0cm;line-height:normal'>
        <span style='font-size:13.0pt;
font-family:"Arial",sans-serif'>
            2.- En la barra de búsqueda
            escribimos <b>Wordpress</b>, y seleccionamos el mismo que en la imagen.
        </span>
    </p>

    <p class=MsoNormal style='margin-top:19.2pt;margin-right:0cm;margin-bottom:
19.2pt;margin-left:0cm;line-height:normal'>
        <b>
            <span style='font-size:13.0pt;
font-family:"Arial",sans-serif'>
                Nota para los que usen Azure a través
                de Dreamspark:
            </span>
        </b><span style='font-size:13.0pt;font-family:"Arial",sans-serif;
color:#444444'>
            Fíjense de <i>NO</i> elegir el que dice &quot;Scalable&quot;
            porque este no está soportado por nuestro plan. <br>
            <img style="width: 100%;" id="Picture 13" src="/content/sitioweb/image002.png"
                 alt="Paso 2">
        </span>
    </p>

    <p class=MsoNormal style='margin-top:19.2pt;margin-right:0cm;margin-bottom:
19.2pt;margin-left:0cm;line-height:normal'>
        <span style='font-size:13.0pt;
font-family:"Arial",sans-serif'>
            3.- De ahí elegimos <b>Crear</b>.
            <br>
            <img style="width: 100%;" id="Picture 12" src="/content/sitioweb/image003.png"
                 alt="Paso 3">
        </span>
    </p>

    <div class=MsoNormal align=center style='margin-top:38.4pt;margin-right:0cm;
margin-bottom:38.4pt;margin-left:0cm;text-align:center;line-height:normal'>
        <span style='font-size:13.0pt;font-family:"Arial",sans-serif'>

            <hr size=1 width="100%" align=center>

        </span>
    </div>

    <p class=MsoNormal style='margin-top:19.2pt;margin-right:0cm;margin-bottom:
19.2pt;margin-left:0cm;line-height:normal'>
        <b>
            <span style='font-size:13.0pt;
font-family:"Arial",sans-serif'>
                En los siguientes pasos vamos a
                ver como configurar bien el servidor. Es importante que no te saltees ningún
                paso. ¡Sigamos!
            </span>
        </b>
    </p>

    <p class=MsoNormal style='margin-top:19.2pt;margin-right:0cm;margin-bottom:
19.2pt;margin-left:0cm;line-height:normal'>
        <span style='font-size:13.0pt;
font-family:"Arial",sans-serif'>
            4.- Rellenamos primero la
            direccion web que va a tomar nuestro blog. <br>
            <img style="width: 100%;" id="Picture 11" src="/content/sitioweb/image004.png"
                 alt="Paso 4">
        </span>
    </p>

    <p class=MsoNormal style='margin-top:19.2pt;margin-right:0cm;margin-bottom:
19.2pt;margin-left:0cm;line-height:normal'>
        <span style='font-size:13.0pt;
font-family:"Arial",sans-serif'>
            5.- Ahora vamos a configurar la
            base de datos. Elegimos la opción <b>Base de datos</b> y después <b>
                Nivel de
                precios
            </b>. <br>
            <img style="width: 100%;" id="Picture 10" src="/content/sitioweb/image005.png"
                 alt="Paso 5">
        </span>
    </p>

    <p class=MsoNormal style='margin-top:19.2pt;margin-right:0cm;margin-bottom:
19.2pt;margin-left:0cm;line-height:normal'>
        <span style='font-size:13.0pt;
font-family:"Arial",sans-serif'>
            6.- Cambiamos de plan de <b>Titan</b>
            a <b>Mercurio</b>. <br>
            <img style="width: 100%;" id="Picture 9" src="/content/sitioweb/image006.png"
                 alt="Paso 6">
        </span>
    </p>

    <p class=MsoNormal style='margin-top:19.2pt;margin-right:0cm;margin-bottom:
19.2pt;margin-left:0cm;line-height:normal'>
        <span style='font-size:13.0pt;
font-family:"Arial",sans-serif'>
            7.- Después de eso ya podemos
            darle <b>Aceptar</b> a las configuraciones de la base de datos. <br>
            <img style="width: 100%;" id="Picture 8" src="/content/sitioweb/image007.png"
                 alt="Paso 7">
        </span>
    </p>

    <p class=MsoNormal style='margin-top:19.2pt;margin-right:0cm;margin-bottom:
19.2pt;margin-left:0cm;line-height:normal'>
        <span style='font-size:13.0pt;
font-family:"Arial",sans-serif'>
            8.- Solo nos falta aceptar los términos
            y condiciones de ClearDB y estamos listos para darle al botón <b>Crear</b>. <br>
            <img style="width: 100%;" id="Picture 7" src="/content/sitioweb/image008.png"
                 alt="Paso 8">
        </span>
    </p>

    <div class=MsoNormal align=center style='margin-top:38.4pt;margin-right:0cm;
margin-bottom:38.4pt;margin-left:0cm;text-align:center;line-height:normal'>
        <span style='font-size:13.0pt;font-family:"Arial",sans-serif'>

            <hr size=1 width="100%" align=center>

        </span>
    </div>

    <p class=MsoNormal style='margin-top:19.2pt;margin-right:0cm;margin-bottom:
19.2pt;margin-left:0cm;line-height:normal'>
        <b>
            <span style='font-size:13.0pt;
font-family:"Arial",sans-serif'>
                Esta es la parte donde esperamos
                a que Azure termine con los procesos de crear el blog
            </span>
        </b>
    </p>

    <div class=MsoNormal align=center style='margin-top:38.4pt;margin-right:0cm;
margin-bottom:38.4pt;margin-left:0cm;text-align:center;line-height:normal'>
        <span style='font-size:13.0pt;font-family:"Arial",sans-serif'>

            <hr size=1 width="100%" align=center>

        </span>
    </div>

    <p class=MsoNormal style='margin-top:19.2pt;margin-right:0cm;margin-bottom:
19.2pt;margin-left:0cm;line-height:normal'>
        <span style='font-size:13.0pt;
font-family:"Arial",sans-serif'>
            9.- Cuando Azure termine deberíamos
            aparecer directamente en el panel de administración del nuevo sitio, desde ahí
            podemos navegar directamente a nuestro nuevo blog. <br>
            <img style="width: 100%;" id="Picture 6" src="/content/sitioweb/image009.png"
                 alt="Paso 9">
        </span>
    </p>

    <p class=MsoNormal style='margin-top:19.2pt;margin-right:0cm;margin-bottom:
19.2pt;margin-left:0cm;line-height:normal'>
        <span style='font-size:13.0pt;
font-family:"Arial",sans-serif'>
            10.- Cuando entremos por primera
            vez a nuestro nuevo blog nos encontramos con el Instalador de <b>Wordpress</b>.
            <br>
            Elegimos el idioma que queramos y pulsamos <b>Continuar</b>. <br>
            <img style="width: 100%;" id="Picture 5" src="/content/sitioweb/image010.png"
                 alt="Paso 10">
        </span>
    </p>

    <p class=MsoNormal style='margin-top:19.2pt;margin-right:0cm;margin-bottom:
19.2pt;margin-left:0cm;line-height:normal'>
        <span style='font-size:13.0pt;
font-family:"Arial",sans-serif'>
            11.- Completamos los datos que se
            nos piden para nuestro blog. <br>
            <img style="width: 100%;" id="Picture 4" src="/content/sitioweb/image011.png"
                 alt="Paso 11">
        </span>
    </p>

    <p class=MsoNormal style='margin-top:19.2pt;margin-right:0cm;margin-bottom:
19.2pt;margin-left:0cm;line-height:normal'>
        <span style='font-size:13.0pt;
font-family:"Arial",sans-serif'>
            12.- <b>Listo!</b> Ya está
            nuestro blog funcionando en <b>Azure</b> con <b>Wordpress</b>. Pulsamos <b>Acceder</b>.
            <br>
            <img style="width: 100%;" id="Picture 3" src="/content/sitioweb/image012.png"
                 alt="Paso 12">
        </span>
    </p>

    <p class=MsoNormal style='margin-top:19.2pt;margin-right:0cm;margin-bottom:
19.2pt;margin-left:0cm;line-height:normal'>
        <span style='font-size:13.0pt;
font-family:"Arial",sans-serif'>
            13.- Entramos con el usuario y
            contraseña que elegimos en el paso <b>11</b> <br>
            <img style="width: 100%;" id="Picture 2" src="/content/sitioweb/image013.png"
                 alt="Paso 13">
        </span>
    </p>

    <p class=MsoNormal style='margin-top:19.2pt;margin-right:0cm;margin-bottom:
19.2pt;margin-left:0cm;line-height:normal'>
        <span style='font-size:13.0pt;
font-family:"Arial",sans-serif'>
            14.- Y así llegamos al panel de <b>Wordpress</b>!
            Desde aquí ya podemos agregar entradas o modificar lo que queramos de nuestro
            nuevo blog! <br>
            <img style="width: 100%;" id="Picture 1" src="/content/sitioweb/image014.png"
                 alt="Paso 14">
        </span>
    </p>





    <div style="padding: 20px; font-size: 20px;">
        <p>
            Para participar del concurso, segui en el
            <a href="/imagen" class="btn btn-success">paso 3</a>
        </p>
    </div>
</div>