@model dynamic

@{
    ViewBag.Title = "PASO 2 - Creá tu sitio web";
}

<div style="padding: 20px; color: white;">

    <h2>PASO 2 - Creá tu sitio web </h2>

<p>podes subir un sitio desarrollado por vos, o seguir los pasos de abajo para crear un Wordpress.</p>
    <p>
        Si ya sabes subir tu sitio, segui en el
        <a href="/imagen" class="btn btn-success">paso 3</a>
    </p>

<p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;'>
        <strong>
            <u>
                <span style='font-size:
15.0pt;font-family:"Georgia",serif;'>1º Paso:</span></span>
            </u>
        </strong><span class=apple-converted-space>
            <span style='font-size:15.0pt;font-family:"Georgia",serif;
'>&nbsp;</span>
        </span><span style='font-size:15.0pt;font-family:
"Georgia",serif;'>
            Desde nuestro portal de Azure<span class=apple-converted-space>&nbsp;</span>
        </span><span style='box-sizing: border-box'>
            <span style='box-sizing: border-box'>
                <span class=skimlinks-unlinked>
                    <span style='font-size:15.0pt;font-family:"Georgia",serif;color:blue'>manage.windowsazure.com</span>
                </span>
            </span>
        </span><span style='font-size:15.0pt;font-family:"Georgia",serif;'>
            ,&nbsp;seleccionamos<span class=apple-converted-space>&nbsp;</span><strong style='box-sizing: border-box'>
                <span style='font-family:"Georgia",serif'>‘+ NUEVO’</span>
            </strong>&nbsp;.
        </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>
        
            <span style='font-size:15.0pt;font-family:
"Georgia",serif;color:#3D3D3D;text-decoration:none'>
                <img border=0 style="width: 100%;" id="Picture 9" src="/content/sitioweb/image001.jpg" alt=1>
            </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>
        <span style='box-sizing: border-box'>
            <strong style='box-sizing: border-box'>
                <u>
                    <span style='font-size:15.0pt;font-family:"Georgia",serif;'>2º Paso:</span>
        </span></u></strong><strong style='box-sizing: border-box'>
            <span style='font-size:15.0pt;font-family:"Georgia",serif;
'>&nbsp;</span>
        </strong><span style='font-size:15.0pt;font-family:
"Georgia",serif;'>
            Hacemos click en<span class=apple-converted-space>&nbsp;</span><strong style='box-sizing: border-box'>
                <span style='font-family:"Georgia",serif'>‘SITIO WEB’</span>
            </strong><span class=apple-converted-space>&nbsp;</span>y luego en<span class=apple-converted-space>&nbsp;</span><strong style='box-sizing: border-box'>
                <span style='font-family:"Georgia",serif'>‘DE LA GALERÍA’.</span>
            </strong>
        </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>

            <span style='font-size:15.0pt;font-family:
"Georgia",serif;color:#3D3D3D;text-decoration:none'>
                <img border=0 style="width: 100%;" id="Picture 8" src="/content/sitioweb/image002.jpg" alt=2>
            </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>
        <span style='box-sizing: border-box'>
            <strong style='box-sizing: border-box'>
                <u>
                    <span style='font-size:15.0pt;font-family:"Georgia",serif;'>3º Paso:</span>
        </span></u></strong><strong style='box-sizing: border-box'>
            <span style='font-size:15.0pt;font-family:"Georgia",serif;
'>&nbsp;</span>
        </strong><span class=apple-converted-space>
            <b>
                <span style='font-size:15.0pt;font-family:"Georgia",serif;'>&nbsp;</span>
            </b>
        </span><span style='font-size:15.0pt;font-family:"Georgia",serif;'>
            Elegimos la
            sección&nbsp;<strong style='box-sizing: border-box'>
                <span style='font-family:
"Georgia",serif'>‘Blogs’</span>
            </strong>, luego seleccionamos&nbsp;<strong style='box-sizing: border-box'><span style='font-family:"Georgia",serif'>‘WordPress’</span></strong><span class=apple-converted-space><b>&nbsp;</b></span>y siguiente.
        </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>
            <span style='font-size:15.0pt;font-family:
"Georgia",serif;color:#3D3D3D;text-decoration:none'>
                <img border=0 style="width: 100%;" id="Picture 7" src="/content/sitioweb/image003.jpg" alt=3>
            </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>
        <span style='box-sizing: border-box'>
            <strong style='box-sizing: border-box'>
                <u>
                    <span style='font-size:15.0pt;font-family:"Georgia",serif;'>4º Paso:</span>
        </span></u></strong><strong style='box-sizing: border-box'>
            <span style='font-size:15.0pt;font-family:"Georgia",serif;
'>&nbsp;</span>
        </strong><span class=apple-converted-space>
            <b>
                <span style='font-size:15.0pt;font-family:"Georgia",serif;'>&nbsp;</span>
            </b>
        </span><span style='font-size:15.0pt;font-family:"Georgia",serif;'>
            En&nbsp;<strong style='box-sizing: border-box'>
                <span style='font-family:"Georgia",serif'>
                    ‘
                    DIRECCIÓN URL’&nbsp;
                </span>
            </strong>&nbsp;escribimos la url de nuestro nuevo
            blog&nbsp;WordPress, este nombre debe ser único bajo el dominio ‘<span class=skimlinks-unlinked><span style='box-sizing: border-box'>azurewebsites.com</span></span>’.
            Un sitio WordPress requiere una base de datos MySQL, si no tienes una ya
            configurada, éste proceso creará una por ti, luego siguiente para continuar.
        </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>

            <span style='font-size:15.0pt;font-family:
"Georgia",serif;color:#3D3D3D;text-decoration:none'>
                <img border=0 style="width: 100%;" id="Picture 6" src="/content/sitioweb/image004.jpg" alt=4>
            </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>
        <span style='box-sizing: border-box'>
            <strong style='box-sizing: border-box'>
                <u>
                    <span style='font-size:15.0pt;font-family:"Georgia",serif;'>
                        5º Paso (si
                        no tienes una base de datos configurada):
                    </span>
        </span></u></strong><strong style='box-sizing: border-box'>
            <span style='font-size:15.0pt;font-family:"Georgia",serif;
'>&nbsp;</span>
        </strong><span style='font-size:15.0pt;font-family:
"Georgia",serif;'>
            En esta página debes especificar el nombre de tu
            base de datos y la&nbsp;región&nbsp;del&nbsp;servidor donde se alojará (es
            importante seleccionar la misma región del paso anterior para evitar
            retardos&nbsp;entre el sitio y la base de datos).<br style='box-sizing: border-box'>
            Finalmente lee los términos de ClearDB (proveedor de tu base de datos MySQL) y
            si aceptas clickea la casilla y finaliza.
        </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>

            <span style='font-size:15.0pt;font-family:
"Georgia",serif;color:#3D3D3D;text-decoration:none'>
                <img border=0 style="width: 100%;" id="Picture 5" src="/content/sitioweb/image005.jpg" alt=5>
            </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>
        <span style='font-size:15.0pt;font-family:"Georgia",serif;'>
            Una vez
            completado el paso anterior serás redirigido al portal de sitios web de Azure,
            donde visualizaras una nueva entrada con tu blog WordPress.
        </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>

            <span style='font-size:15.0pt;font-family:
"Georgia",serif;color:#3D3D3D;text-decoration:none'>
                <img border=0 style="width: 100%;" id="Picture 4" src="/content/sitioweb/image006.jpg" alt=6>
            </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>
        <span style='box-sizing: border-box'>
            <strong style='box-sizing: border-box'>
                <u>
                    <span style='font-size:15.0pt;font-family:"Georgia",serif;'>6º Paso:</span>
        </span></u></strong><span style='font-size:15.0pt;font-family:"Georgia",serif;'>
            &nbsp;hacemos
            click sobre la columna dirección url para dirigirnos a nuestro nuevo blog, en
            este caso<span class=apple-converted-space>&nbsp;</span>
        </span><span style='box-sizing: border-box'>
            <span style='box-sizing: border-box'>
                <span class=skimlinks-unlinked>
                    <span style='font-size:15.0pt;font-family:"Georgia",serif;
color:blue'>matiasblog.azurewebsites.net</span>
                </span>
            </span>
        </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>

            <span style='font-size:15.0pt;font-family:
"Georgia",serif;color:#3D3D3D;text-decoration:none'>
                <img border=0 style="width: 100%;" id="Picture 3" src="/content/sitioweb/image007.jpg" alt=7>
            </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>
        <span style='font-size:15.0pt;font-family:"Georgia",serif;'>
            Seleccionamos
            nuestro idioma y continuamos.
        </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>
        <span style='box-sizing: border-box'>
            <strong style='box-sizing: border-box'>
                <u>
                    <span style='font-size:15.0pt;font-family:"Georgia",serif;'>7º Paso:</span>
        </span></u></strong><span style='font-size:15.0pt;font-family:"Georgia",serif;'>
            &nbsp;Completamos
            la información de nuestro nuevo blog y clickeamos<span class=apple-converted-space>&nbsp;</span><strong style='box-sizing: border-box'>
                <span style='font-family:"Georgia",serif'>‘Instalar WordPress’</span>
            </strong>
        </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>

            <span style='font-size:15.0pt;font-family:
"Georgia",serif;color:#3D3D3D;text-decoration:none'>
                <img border=0 style="width: 100%;" id="Picture 2" src="/content/sitioweb/image008.jpg" alt=8>
            </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>
        <span style='font-size:15.0pt;font-family:"Georgia",serif;'>
            Finalmente
            hemos completado el proceso.
        </span>
    </p>

    <p style='margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:
0cm;line-height:21.0pt;;box-sizing: border-box;orphans: auto;
widows: 1;-webkit-text-stroke-width: 0px;word-spacing:0px'>

            <span style='font-size:15.0pt;font-family:
"Georgia",serif;color:#3D3D3D;text-decoration:none'>
                <img border=0 style="width: 100%;" id="Picture 1" src="/content/sitioweb/image009.jpg" alt=9>
            </span>
    </p>

    <div style="padding: 20px; font-size: 20px;">
        <p>
            Para participar del concurso, segui en el
            <a href="/imagen" class="btn btn-success">paso 3</a>
        </p>
    </div>
</div>