<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Azure Storage-->
    <add key="ABSConnectionString" value="DefaultEndpointsProtocol=https;AccountName=alebanzas;AccountKey=a/z6lgL6GaCgB2P5X0OHsCS8FH6q+UOcCMCY/HoEYDFzcuAGaEcHxaukYmaTIRVXMzrlCsQmio0zKvuEBLzC2A=="/>

    <!--<add key="ABSConnectionString" value="UseDevelopmentStorage=true"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
