@model string
@{
    Layout = null;
}
<p>
    Su código es: <b>@Model</b>
</p>

<p style="padding-top: 10px;">
    Utilizalo siguiendo estos pasos: <b><a href="http://aka.ms/azds" target="_blank">http://aka.ms/azds</a></b>
</p>