@model AzureContest.Web.Controllers.CodigoModel
@{
    ViewBag.Title = "Obtené tu código";
}

<h2 style="padding-top: 10px;">Obtené tu código</h2>

<div id="form">
    @{
        Html.RenderPartial("Form", Model);
    }
</div>

<style>
    .text-danger {
        color: yellow !important;
    }
</style>

@section scripts
{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript">
        
        function GetResult(e) {
            var f = $(e);
            $.post(f.attr("action"), f.serialize()).done(function (data) {
                $("#form").html(data);

            })
            .fail(function () {
                alert("error");
            });
        }

    </script>

}
