CREATE NONCLUSTERED INDEX [IndexLatLon] ON [SUBE_Recarga] 
(
	[lat] ASC,
	[lon] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

ALTER TABLE SUBE_Recarga ADD CONSTRAINT
	PK_SUBE_Recarga PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO

CREATE SPATIAL INDEX IndexUbicacion 
   ON SUBE_Recarga(ubicacion)
   WITH ( BOUNDING_BOX = ( -38, -60, -33, -56 ) );

