@{
    ViewBag.Title = "Licencias - ABHosting - Servicios de Internet";
    Layout = "_Layout";
}

<h2>Licencias</h2>

<p>Para solicitar su licencia, por favor, comuniquese con el servicio de atencion al cliente.</p>
