@model string

@{
    ViewBag.Title = "PASO 3 - Agregá la imagen en tu sitio";
}

<div style="padding: 20px; color: white;" class="wide">

<h2>PASO 3 - Agregá la imagen en tu sitio </h2>

    <p>
        Agrega la imagen a tu sitio web:
    </p>

    <div style="display: block;">
        <textarea cols="2" rows="3" class="boxsizingBorder">&lt;img src="http://api.alebanzas.com.ar/azurelog?r=@Model" style="width: 300px;" /&gt;</textarea>
    </div>

    <div style="padding: 20px; font-size: 20px;">
        <p>
            Visitá tu página para tener la primer visita, y competí:
            <a href="/" class="btn btn-success">tabla de sitios mas visitados</a>
        </p>
    </div>
</div>

<style>
    
    textarea
{
  border:1px solid #999999;
  width:100%;
  margin:5px 0;
  padding:3px;
  max-width: none !important;
}

    .boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


</style>