@{
    ViewBag.Title = "Prueba de Servicio";
}

<form id="form" onsubmit="return false;">
    @Html.TextBox("controller", "", new { id = "controller" })
    @Html.TextBox("action", "", new { id = "action" })
    @Html.TextBox("param", "", new { id = "param" })
    <button onclick="Test();">TEST</button>
    @DateTime.Now.ToLongTimeString()
</form>

<textarea id="result" style="width: 100%; height: 300px;"></textarea>

<script type="text/javascript">

function JsonFromServerAction(urlAction, serverAction, params, onsuccess) {
    $("#result").val("WAIT...");
    var url = '/' + urlAction;
    if (serverAction) {
        url += '/' + serverAction;
    }
    if (params) {
        url += '/?' + params;
    }
    $.ajax({
        type: "POST",
        url: url,
        contentType: "application/json",
        dataType: "json",
        success: onsuccess,
        error: function(r, m, e) {
            $("#result").val(m + " " + e);
        }
    });

}

function Test() {
    JsonFromServerAction($("#controller").val(), $("#action").val(), $("#param").val(), function (a) {
        $("#result").val(JSON.stringify(a));
    });
}

</script>