<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2">
  <session-factory name="ABServicios">
    <property name="connection.connection_string">
      Data Source=.;Initial Catalog=ABServicios;Persist Security Info=True;
    </property>
    <property name="dialect">AB.Data.ABSqlDialect, AB.Data</property>

    <property name="current_session_context_class">
      NHibernate.Context.WebSessionContext, NHibernate
    </property>

    <property name="default_schema">dbo</property>

    <property name="cache.provider_class">
      NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache
    </property>
    <property name="cache.use_query_cache">true</property>
    <property name="cache.use_second_level_cache">true</property>

  </session-factory>
</hibernate-configuration>